.header{
    width: 100vw;
}

.header_name{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 113px;
    background-color: #4D84A7;

}

.header_nav{
    height: 43px;
    background-image: url("../img/Layer4.png");
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.body{
    width: 100vw;
}

.search{
    height: 393px;
    background-image: url("../img/Layer 10.png");
}

.opis{
    background-color: #D3F7F3;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.listing{
    height: 476px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer{
    width: 100vw;
}
.footer1{
    height: 196px;
    background-image: url("../img/Layer 31.png");
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footer2{
    height: 230px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: url("../img/Layer 37.png");
}

.box{
    width: 959px;
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.title, .number{
    color: white;
}

.title{
    width: 280px;
    height: 77px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.title img{
    width: 48px;
    height: 50px;
    position: relative;
    top: 20px;
}

.title1{
    font-size: 30px; 
}

.title2{
    font-size: 16px;
    margin-bottom: 5px;
}

.title1, .title2{
    padding-left: 30px;
}

.number{
    font-size: 24px;
}

.nav1{
    width: 806px;
    height: 43px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav2{
    width: 474px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a{
    color: #3A5362;
    font-size: 16px;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photo_box{
    width: 508px;
    height: 340px;
    background-color: #F2E8E8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.srch_sys{
    width: 419px;
    height: 350px;
    background-color: aqua;
}

.photo{
    width: 489px;
    height: 320px;
    background-color: #1A425A;
}

.ph_img{
    height: 253px;
    background-image: url("../img/Layer 40.png");
}

.ph_text{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.ph_box{
    width: 489px;
    height: 67px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.ph_t1{
    font-size: 20px;
}

.ph_t2{
    font-size: 14px;
}

.opis_block{
    width: 287px;
    height: 126px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.opis_text{
    line-height: 30px;
    font-size: 13px;
}

.opis_title{
    text-align: left;
    font-size: 22px;
    color: #4484AD;
}

.list_box1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.list{
    width: 222px;
    height: 202px;
    background-color: #E1DEDE;
    border-radius: 0px 0px 10px 10px;
}

.list_img{
    width: 222px;
    height: 147px;
    background-image: url(../img/Layer\ 41.png);
}

.list_text{
    width: 222px;
    height: 55px;
    background-color: #4F8FB7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 10px 10px;

}

.lupa{
    width: 33px;
    height: 27px;
    background-image: url(../img/Layer\ 24.png);
}

.list_title{
    color: white;
}

.lst_t{
    font-size: 18px;
}

.lst_text{
    font-size: 16px;
}

.login, .subscribe{
    width: 470px;
    height: 109px;
    background-color: #6B9EC0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border-color: #D7D7D7;
    border-style: solid;
    border-width: 1px;
}

.log_box, .sub_box{
    width: 425px;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.log_title{
    font-size: 24px;
    color: white;
}

.in{
    width: 422px;
    height: 32px;
}

.name, .pass{
    width: 150px;
    height: 32px;
    border-radius: 5px;
    padding-left: 5px;
    color: #6F97AF;
}

.btn_log, .sub_btn{
    width: 95px;
    height: 32px;
    border-radius: 5px;
    background-color: #599DC7;
    border-color: #D7D7D7;
    border-style: solid;
    border-width: 3px;
    color: white;
}

.member_yet{
    width: 472px;
    height: 48px;
    background-color: #73A9CB;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border-color: #D7D7D7;
    border-style: solid;
    border-width: 1px;
}

.Not_yet{
    width: 297px;
    height: 46px;
    font-size: 22px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



.UpNow{
    width: 173px;
    height: 46px;
    background-image: url(../img/Layer\ 36.png);
    font-size: 22px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

::-webkit-input-placeholder {
    color: #6F97AF;
 }

.in{
    width: 425px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ft1_box1, .ft1_box2{
    width: 472px;
    height: 168px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.subscribe{
    width: 470px;
    height: 109px;
}

.in_email{
    width: 310px;
    height: 32px;
    border-radius: 5px;
    padding-left: 5px;
    color: #6F97AF;
}

.sub_title{
    color: white;
    font-size: 22px;
}

.foot_box{
    width: 889px;
    height: 163px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about, .propart, .costamer{
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.costamer{
    width: 319px;
    height: 159px;
    color: white;
}

.footer2 a, h2{
    color: #FFFFFF;
}

.footer2 h2{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 21px;
}

.link_box{
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cost_end{
    font-weight: bold;
}

.cost_box{
    width: 318px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.company{
    width: 171px;
    height: 82px;
    background-color: red;
}



